.loaderAnimation{
    animation: spin 10s linear infinite;
}

.centerVerticalLoader{
  display: flex;
  justify-content: center;
  margin:0 auto;
}

.centerLoader{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loaderText{
  font-family: 'Roboto', serif;

}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }